.navbar {
  margin-bottom: 1rem;
}

.navbar a {
  font-weight: bold;
  color: white;
  opacity: 0.8;
}

.navbar a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}

.navbar-brand > img {
  display: inline-block;
  width: 30px;
  border-radius: 2px;
  margin: 0;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background-image: url("../images/nav-bg.png");
  background-size: 100% 100%;
}

